@import url('responsive.css');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 
{
    display: flex;
    font-family: 'Cinzel', serif;
    font-size: 7rem;
    font-weight: normal;
    letter-spacing: 31px;
    justify-content: center;
    padding-top: 5%;
}
h2, h4
{
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 3%;
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 2px;
    word-spacing: 5px;
}
h4{
    color: rgb(178,11,35, 100%);
}
nav
{
    background-color: rgb(178,11,35, 100%);
    height: 6vh;
}

.nav_links
{
    display: flex;
    list-style-type: none;
    width: 50%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    
 
}

.nav_links li a 
{
 text-decoration: none;
 font-size: 25px;
 color: black
 
}

li a:hover{
    color: white
}
li a
{
    transition: all 0.3s ease 0s;
}

span
{
    color: rgb(178,11,35, 100%)
}

.center_img_with_rose
{
    height: 300px;
    display: block;
    margin-left: 99px;
    margin: auto;
    transform: rotate(48deg);
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.center_img{
    margin: 0% 42.9%;
}

.link_images
{
    
    height: 57px;
}
 
.about
{
    margin-top: 3.5%;
    /* display: flex; */
    padding-right: 4%;
    padding-left: 4%;
}

.projects
{
    margin-top: 3.5%;
    /* display: flex; */
    padding-right: 4%;
    padding-left: 2.5%;
}
hr{
    margin: 0% 4%;
}
.aboutTitle, .projectsTitle, .contactTitle
{
    font-family: 'Cinzel', serif;
    display: flex;
   
}
.aboutSection, .projectsSection
{
    margin: 0% 5%;
    padding: 7%;
}
.aboutSection{
    display: flex;
}
.aboutText{
    display: flex;
    padding: 5% 3%;
    font-size: 18px;
    align-items: center;
}
.p-Image
{
    height: 300px;
    display: block;
    margin-left: 99px;
    padding: 4%;
    margin: auto;    
}
p
{
    font-family: 'Lato', sans-serif;
    padding: 3%;
    font-weight: normal;
    letter-spacing: 1px;
    word-spacing: 1px;
}
.card_container{
    display: flex;
    flex-direction: row;
}
.card{
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center; 
    box-shadow: 6px 6px 14px -3px rgba(117,117,117,0.29);
}
.view_code_btn{
    text-decoration: none;
    font-size: 18px;
}
.view_code_btn:hover{
    color: red
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
section:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    
}

section .contact_container{
    position: relative;
    min-width: 980px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}
section .contact_container .contactInfo{
    position: absolute;
    top: 100px;
    width: 384px;
    height: (100% - 40px);
    background-color: maroon;
    z-index: 1;
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0px 0 10px rgba(0,0,0,0.5);
}
section .contact_container .contactInfo h2 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
}
section .contact_container .contactInfo img{
    height: 28px;
    width: 28px;
}

section .contact_container .contactInfo .info{
    position: relative;
    margin: 20px 0;
}

section .contact_container .contactInfo .info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    align-items: flex-start;
    
}
section .contact_container .contactInfo .info li span:nth-child(1){
    width: 30px;
    min-width: 30px;
}
/* section .contact_container .contactInfo .info li span:nth-child(1) img{
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;
} */
section .contact_container .contactInfo .info li span:nth-child(2){
    color: #ffffff;
    margin-left: 10px;
    opacity: 0.9;
    font-size: 20px;
}

section .contact_container .contactInfo .logo_links{
    position: relative;
    display: flex;
    justify-content: center;
}
section .contact_container .contactInfo .logo_links li{
    list-style: none;
    margin-right: 15px;  
}

section .contact_container .contactInfo .logo_links li a{
    text-decoration: none;    
}
section .contact_container form {
    position: absolute;
    padding: 70px 50px;
    background-color: rgb(178,11,35, 100%);
    margin-left: 150px;
    padding-left: 280px;
  
    height: 100%;
}
section .contact_container form h2, 
section .contact_container form label{
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    
}
section .contact_container form .fields{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
section .contact_container form .field {
    position: relative;
    margin: 0 0 35px 0;
    
}
section .contact_container form .field.half{
    width: 47%;
}

section .contact_container form .field.half{
    width: 100%;
}
section .contact_container form .field input, 
section .contact_container form .field textarea
{
    width: 100%;
    padding: 5px 0;
    resize: none;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
}
section .contact_container form .actions li{
    list-style: none;
}
section .contact_container form .actions li input[type="submit"]{
    
    position: relative;
    cursor: pointer;
    background-color: black;
    color: #ffffff;
    max-width: 150px;
    padding: 12px;
    border: none;
}