@media all and (max-width: 500px){
    nav
    {
        height: 10vh; 
    }
    h1
    {
        font-size: 20px;
        background-color: orange;
    }
   .nav_links
   {
       display: flex;
       flex-direction: column;
       height: 100%;
   }
   .nav_links li a
   {
    text-align: center;
   }
}
