*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* html{
    background-image: url("https://www.fg-a.com/wallpapers/white-marble-3-2018.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
/* body{
    height: 100%;
    width: 70%;
    background-color: white;
} */

h1 {
    font-family: 'Cinzel', serif;
    font-size: 100px;
    position: relative;
    padding: 50px 0 0 50px;
    margin: -13px 265px 0px;
    font-weight: normal;
    letter-spacing: 31px;
}
h2{
    font-family: 'Lato', sans-serif;

    text-align: center;
    padding: 3%;
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 2px;
    word-spacing: 5px;
}
li a {
    font-family: 'Lato', sans-serif;

    text-decoration: none;
    color: rgb(178,11,35, 100%);
    font-size: 25px;
}
header{
    display: flex;
    padding: 26px 39%;
}

li{
    display: inline-block;
    padding: 0px 10px;

}
li a{
    transition: all 0.3s ease 0s;
}
li a:hover{
    color: black
}
img{
    
    height: 300px;
    display: block;
    margin: auto
}
span{
    color: rgb(178,11,35, 100%)
}
img .center_img{
    height: 300px;
    display: block;
    margin-left: 99px;
    margin: auto
}
.center_img_with_rose{
    transform: rotate(48deg);
}

.link_images{
    height: 57px;
    padding: -1px;
    margin: -21px auto;
}
 
.about{
    padding: 0% 10% 0% 10%;
    margin-top: 1.5%;
}

.projects{
    padding: 0% 10% 0% 10%;
    margin-top: 1.5%; 
}
.aboutTitle, .projectsTitle{
    font-family: 'Cinzel', serif;
   
}
.aboutSection, .projectsSection{
    margin: 3%;
    padding: 3%;
}
/* .aboutText p{
    float: left;
} */
.portfolioImage{
    margin: 5%;
}
p{
    font-family: 'Lato', sans-serif;
}
.card-body{
    margin: 3%;
}
