*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 100px;
    position: relative;
    padding: 50px 0 0 50px;
    margin: -13px 265px 0px;
    font-weight: normal;
    letter-spacing: 31px;
}
h2{
    font-family: 'Cinzel', serif;
    text-align: center;
    padding: 2%;
    font-weight: normal;
    letter-spacing: 2px;
    word-spacing: 5px;
}
li a {
    font-family: 'Cinzel', serif;
    text-decoration: none;
    color: rgb(178,11,35, 100%);
    font-size: 25px;
}
header{
    display: flex;
    padding: 26px 39%;
}
li{
    display: inline-block;
    padding: 0px 10px;

}
li a{
    transition: all 0.3s ease 0s;
}
li a:hover{
    color: black
}
img{
    
    height: 300px;
    display: block;
    margin-left: 99px;
    margin: auto
}
span{
    color: rgb(178,11,35, 100%)
}
img .center_img{
    height: 300px;
    display: block;
    margin-left: 99px;
    margin: auto
}
.center_img_with_rose{
    transform: rotate(48deg);
}

.link_images{
    height: 57px;
    padding: -1px;
    margin: -21px auto;
}
@media (max-width: 900px) and (min-width: 700px) {

    h1 {
        font-family: 'Cinzel', serif;
        font-size: 100px;
        position: relative;
        padding: 50px;
        margin: -13px 265px 0px;
        font-weight: normal;
        letter-spacing: 31px;
    }
    h2{
        font-family: 'Cinzel', serif;
        text-align: center;
        padding: 2%;
        font-weight: normal;
        letter-spacing: 2px;
        word-spacing: 5px;
    }
    li a {
        font-family: 'Cinzel', serif;
        text-decoration: none;
        color: rgb(178,11,35, 100%);
        font-size: 25px;
    }
    header{
        display: flex;
        padding: 26px 39%;
    }
    li{
        display: inline-block;
        padding: 0px 10px;
    
    }
    li a{
        transition: all 0.3s ease 0s;
    }
    li a:hover{
        color: black
    }
    img{
        
        
    }
    span{
        color: rgb(178,11,35, 100%)
    }
    /* .center_img{
        
    } */
    .center_img_with_rose{
        transform: rotate(48deg);
    }
    .link_images{
        height: 57px;
        padding: -1px;
        margin: -21px auto;
    }
}